@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "IMC";
}

<link rel="stylesheet" href="~/css/IMCStyle.css" />
<link rel="stylesheet" href="~/css/DivBoxStyle.css" />

<div class="DivBoxStyle">

    <p>Calcule seu IMC</p>
    <form method="post" asp-controller="IMC" asp-action="CalculateIMC">
        @model IMCWeb.Models.IMC

        <input type="text" placeholder="Altura" asp-for="Height" />
        <input type="text" placeholder="Peso" asp-for="Weight" />
        <button type="submit">Calcular</button>
    </form>
</div>