input[type=button], button {
    background-color: blueviolet;
    color: antiquewhite;
    border: groove;
    border: none;
    text-decoration: dashed;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius:4px;
}

    input[type=button]:hover, button:hover {
        background-color: darkmagenta;
    }

    input[type=button]:focus, button:focus {
        background-color: darkorchid;
    }

a {
    text-decoration: none;
}
