.Button {
    background-color: blueviolet;
    color: antiquewhite;
    border: groove;
    border: none;
    text-decoration:dashed;
    height:30px;
    font-size:15px;
    font-weight:bold;
}

.Button:hover {
    background-color: darkmagenta;
}

.Button:focus {
    background-color: darkorchid;
}

a{
    text-decoration:none;
}
