.Button, button {
    background-color: blueviolet;
    color: antiquewhite;
    border: groove;
    border: none;
    text-decoration: dashed;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    
}

.Button:hover, button:hover {
        background-color: darkmagenta;
    }

.Button:focus, button:focus {
        background-color: darkorchid;
    }

.Button {
    text-decoration: none;
    text-align: center;
    line-height: 210%;
    font-weight: bold;
    cursor: context-menu;
}
