.DivBoxStyle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.DivBoxStyle {
    background-color: #9fc4c6;
    border: solid;
    border-color: slateblue;
}

.DivBoxStyle {
    width: 400px;
}

p {
    font-size: xx-large;
    margin-left: 10px;
    color: #323232;
    font-weight: bolder;
}
