input[type=text], input[type=password] {
    height: 30px;
    text-align: center;
    background-color: antiquewhite;
    font-weight: bold;
}

input[type=text], input[type=password] {
    display: flex;
    align-items: center;
    margin-left: 10%;
    width: 80%;
}
