div.Container{
    display:flex;
    align-content:center;
}

body {
    background-color:azure;
}

#HeaderMenu {
    display: flex;
    align-items:end;
    height: 60px;
}

#HeaderButtonMenu, #HeaderAnchorMenu {
    margin:10px;
    

}

