div.LogRegister {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Button, button{
    margin: 20px;
    width:90%;
    justify-self: center;
}

input[type=text], input[type=password] {
    margin-top: 20px;
}



.FormContainer{
    display:flex;
    flex-direction:column;
}



