div.LogRegister {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Button{
    margin: 20px;
    width:90%;
    justify-self: center;
}

.Text{
    margin-top:20px;
}

.AButton {
    margin-right: 20px;
    height: 1px;
}



