div.LogRegister {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input[type=button], button{
    margin: 20px;
    width:90%;
    justify-self: center;
}

input[type=text], input[type=password] {
    margin-top: 20px;
}

a {
    margin-right: 20px;
    height: 1px;
}



