.DivBoxStyle{
    display:grid;
    grid-template-rows:auto 1fr;
    height:350px;
}

#Header{
    grid-row:1;
}

#Form {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    
    grid-row-gap: 20px;
    grid-row: 2;
}

#inputUserName{
    grid-row:1;
}

#inputPassword {
    grid-row: 2;
}

#inputUserPasswordRetry {
    grid-row: 3;
}

#button {
   grid-row:4;
   margin-top:20px;
   margin-left:20px;
   margin-right:20px;
}
