<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/LayoutStyle.css" />
    <link rel="stylesheet" href="~/css/ButtonStyle.css" />
    <link rel="stylesheet" href="~/css/InputTextStyle.css" />
    <link href="~/css/ErrorMessageStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="Container">
        @{
            @RenderBody();
            //TODO: estudar como montar o menu lateral que existe em UserIndex(a tag aside) para renderizar ele como seção
            if (Model == null)
            {
            }
            else
            {
                //RenderSection("LateralMenu");
            }
        }
    </div>
</body>
</html>
