<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/LayoutStyle.css" />
    <link rel="stylesheet" href="~/css/ButtonStyle.css" />
    <link rel="stylesheet" href="~/css/HeaderMenuStyle.css" />
</head>
<body>
    <header>
        <div id="HeaderMenu">
            <a id="HeaderAnchorMenu"><input id="HeaderButtonMenu" class="Button" type="button" value="Sair" /></a>
        </div>
    </header>
    <div class="Container">
        @RenderBody()
    </div>
</body>
</html>
