
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/LoginStyle.css" />

<div class="Login">
    <form>
        <input type="text" placeholder="Nome de usuário" />
        <input type="password" placeholder="Senha" />
        <a asp-controller="IMC" asp-action="IMCIndex">
            <input class="Button" type="button" value="Logar/Criar" />
        </a>
    </form>
</div>

