
@{
    @using IMCWeb.UTIL;

    Layout = "_Layout";
    ViewData["Title"] = "Login";

}

<link rel="stylesheet" href="~/css/DivBoxStyle.css" />
<link rel="stylesheet" href="~/css/LoginIndexStyle.css" />


<div class="DivBoxStyle">

    <div class="FormContainer">

        <p>Login</p>

        @{
            var errorMessage = ViewData[ErrorMessageConst.LoginErrorKey];

            if (errorMessage != null)
            {
                <div class="ErrorMessage">
                    <label class="ErrorMessage">@errorMessage</label>
                </div>
            }
        }

        <form method="post" asp-controller="Login" asp-action="Log">
            @model IMCWeb.ViewModel.PersonViewModel

            <input type="text" placeholder="Nome de usuário"
                   asp-for="UserName" required="" />

            <input type="password" placeholder="Senha"
                   asp-for="Password" required="" />

            <div class="LogRegister">

                <button type="submit">Logar</button>

                <a class="Button" asp-controller="Login" asp-action="Register">
                    Criar Conta
                </a>
            </div>
        </form>
    </div>
</div>

