<link rel="stylesheet" href="~/css/ErrorMessageStyle.css" />



@if (IsVisible)
{
    <div class="ErrorMessageDiv">
        <label>@Message</label>
    </div>
}
else
{
    <div class="ErrorMessageDivHidden">
        <label>@Message</label>
    </div>
}

@code {

    public bool IsVisible { get; set; }
    public string Message { get; set; }

}
