@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using IMCWeb.UTIL;
    PersonLogin user = TempData.PeekExt<PersonLogin>(nameof(PersonLogin));

    Layout = "_Layout";
    ViewData["Title"] = user.UserName;

}




<link href="~/css/UserIndexStyle.css" rel="stylesheet" />

<aside>
    <div id="LateralMenuHeaderDiv">
        <div id="HeaderSpanTextDiv">
            <span class="span1">Bem vindo</span>
            <span class="span2">@user.UserName</span>
        </div>
    </div>
    <a id="IMCMenu" class="SideMenuItem" onclick="LoadView('User','IMC','UserContent')">
        IMC
    </a>
    <a class="SideMenuItem" onclick="LoadView('User','IMCAll', 'UserContent')">
        Todos IMC
    </a>
    <a class="SideMenuItem" asp-controller="User" asp-action="LogOut">
        Sair
    </a>
</aside>

<div id="UserContent">

</div>


<script type="text/javascript">

    async function LoadView(controller, action, divIdentifier) {

        const clientUrl = `/${controller}/${action}`;

        const page = await fetch(clientUrl);
        const pageHtml = await page.text();

        document.getElementById(divIdentifier).innerHTML = pageHtml;
    }
</script>

