@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using IMCWeb.UTIL;

    Layout = "_Layout";
    ViewData["Title"] = "Por aqui o nome do usuário";

}

@model IMCWeb.Models.PersonLogin;

<link href="~/css/UserIndexStyle.css" rel="stylesheet" />


<aside>
    <div id="LateralMenuHeaderDiv">

        @if (Model != null)
        {
            <div id="HeaderSpanTextDiv">
                <span class="span1">Bem vindo</span>
                <span class="span2">@Model.UserName</span>
            </div>
        }
    </div>
    <a class="SideMenuItem" asp-controller="User" asp-action="IMC">
        IMC
    </a>
    <a class="SideMenuItem" asp-controller="User" asp-action="AllIMC">
        Todos IMC
    </a>
    <a class="SideMenuItem" asp-controller="User" asp-action="LogOut">
        Sair
    </a>
</aside>

<div class="UserContent">
    <label>
        blablabla
    </label>
</div>
