@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using IMCWeb.Models;

    Layout = "_Layout";
    ViewData["Title"] = "Por aqui o nome do usuário";
}

<link href="~/css/UserIndexStyle.css" rel="stylesheet" />



<aside>
    <label id="UserLabelHeader">Bem vindo (por aqui o nome do usuário)</label>
    <a id="IMCButton" asp-controller="User" asp-action="IMC">
        <input class="ButtonIMC" type="button" value="IMC" />
    </a>
    <a id="ExitButton" asp-controller="User" asp-action="LogOut">
        <input class="ButtonExit" type="button" value="Sair" />
    </a>
</aside>

<div class="UserContent">
    <label>
        blablabla
    </label>
</div>
