@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Registrar";
}

<link rel="stylesheet" href="~/css/DivBoxStyle.css" />
<link rel="stylesheet" href="~/css/ButtonStyle.css" />
<link rel="stylesheet" href="~/css/InputTextStyle.css" />
<link rel="stylesheet" href="~/css/RegisterStyle.css" />

<div class="DivBoxStyle">
    <p id="Header">Cadastrar</p>
    <form id="Form" method="post" asp-controller="Register" asp-action="SaveAccount">
        @model IMCWeb.ViewModel.PersonViewModel

        <input id="inputUserName" class="Text" type="text" placeholder="Nome de usuário"
               required="" asp-for="UserName" />

        <input id="inputPassword" class="Text" type="password" placeholder="Senha"
               required="" asp-for="Password" />

        <input id="inputUserPasswordRetry" class="Text" type="password" placeholder="Digite sua senha novamente"
               required="" asp-for="RepeatPassword" />

        <div id="button">
            <button class="Button" type="submit">Cadastrar</button>
        </div>
    </form>
</div>